@model Job
<h1 dir="rtl" >اضافة وظيفة</h1>
<form method="post" dir="rtl"  >
    <div class="row">
  <div class="col-sm-9">
    <div class="form-group">
      <label  class="form-label mt-10 ">اسم الوظيقة</label>
      <input asp-for="Name" type="text" class="form-control"  placeholder="ادخل اسم الوظيفة">
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
       <label  class="form-label mt-10">العدد</label>
      <input asp-for="number" type="number" class="form-control"  placeholder="العدد">
    </div>
  </div>
</div>
 <div class="form-group">
            <button type="submit" class="btn btn-primary col-2 mt-2">حفظ</button>
            </div>
</form>