@model Department
<h1 dir="rtl" > اضافة قسم</h1>
<form method="post" dir="rtl"  >
    <div class="row">
  <div class="col-sm-9">
    <div class="form-group">
      <label  class="form-label mt-10 ">ادخل القسم </label>
      <input asp-for="Name" type="text" class="form-control"  placeholder="ادخل اسم القسم">
    </div>
  </div>
</div>
 <div class="form-group">
            <button type="submit" class="btn btn-primary col-2 mt-2">حفظ</button>
            </div>
</form>